-if @external
  !!!
  %html
    %head
      %title Smadia Clinic
      %link{:href => "images/smadia-ico.ico", :rel => "shortcut icon", :type => "image/ico"}/
      = stylesheet_link_tag "style"
      = javascript_include_tag :all
      = csrf_meta_tag
      = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dac4fa3199b4742"
      :javascript
            Cufon.replace('.title span,#rightcold .title span, #login, #rightcol h3');
            var addthis_config = {"data_track_clickback":true};
    %body
      -if @microsite.header.picture.file?
        #headerms
          =swf_or_image_tag(nil,"original",@microsite.header.picture)
#wrapms
  #menums
    -@microsite.sub_microsites.each do |microsite|
      %li
        =link_to microsite.name,microsite_path(microsite.id)
  -if @microsite.space1.picture.file?
    #fotoms.ffoto.fpf
      =swf_or_image_tag(nil,"original",@microsite.space1.picture) 
  -if @microsite.space2.picture.file?
    #fotoms.fpf
      =swf_or_image_tag(nil,"small",@microsite.space2.picture) 
  %br
  #pms
    =raw @microsite.content
  -if @microsite.space3.picture.file?
    #fotoms.ffoto
      =swf_or_image_tag(nil,"small",@microsite.space3.picture) 
  -if @microsite.space4.picture.file?
    #fotoms
      =swf_or_image_tag(nil,"small",@microsite.space4.picture) 
  - if @microsite.form
    #stylized.myform
      =form_for :contact, :url => microsite_form_path(@microsite) do |f|
        %h1 Contactenos
        %p 
          =@form.usage
        %label
          Nombre
          %span.small
        =f.text_field :name
        %label
          Apellido
          %span.small
        =f.text_field :last_name
        %label
          Telefono Fijo
          %span.small
        =f.text_field :phone
        %label
          Celular
          %span.small
        =f.text_field :mobile
        %label
          E-mail
          %span.small E-mail Valido
        =f.text_field :email
        %label
          Confirmar E-mail
          %span.small
        =f.text_field :email_confirmation
        %label
          Comentario
          %span.small
        =f.text_area :comment
        %button{:type => "submit"} Enviar
        .spacer
-if @external
  #footerms
    =swf_or_image_tag(nil,"small",@microsite.footer.picture)