%li
  .cuadroi
    =swf_or_image_tag("small",article.thumb.picture)
  .textos
    %h3<
      =article.title
    =raw article.content
    .addthis_toolbox.addthis_default_style.redesociales
      %a.addthis_button_preferred_1
      %a.addthis_button_preferred_2
      %a.addthis_button_preferred_3
      %a.addthis_button_preferred_4
      %a.addthis_button_compact
      %a.addthis_counter.addthis_bubble_style
  =link_to image_tag("button.png", :class => "boton"), article_path(article.id)
