#titulo
  %span.tpagina
    SMADIA clinic
  %span.titulos 
    -cats =[]
    -cats << @article.category
    -cat = @article.category.parent_category
    -while cat.name != "Menu Principal"  
      -cats << cat
      -cat = cat.parent_category
    -cats.reverse!.each do |cat|
      =link_to cat.name, category_path(cat)
      =">" unless cat == cats.last
    
#main
  #infoprod
    #tinfo
      = @article.title
    #articulo
      = raw @article.content
%span.txtredes Compartir:
.addthis_toolbox.addthis_default_style.addthis_32x32_style
  %a.addthis_button_preferred_1
  %a.addthis_button_preferred_2
  %a.addthis_button_preferred_3