%li
  .conimagen
    .imagenc
      %object{:width=>280, :height=>240}
        =raw video.link
    %span.txtredes Compartir:
    .addthis_toolbox.addthis_default_style.addthis_32x32_style.redesociales
      %a.addthis_button_preferred_1
      %a.addthis_button_preferred_2
      %a.addthis_button_preferred_3
  .textos
    %h3<
      =video.title
    %p
      = video.description