#formulario
  =form_for :form_entry, :url => form_form_entries_path(@form), :html => {:class => "contact_form"} do |f|
    %h1 Contactenos
    %p 
      = raw @form.usage
      .formin
        %label
          Nombre
        =f.text_field :name
        %label
          Apellido
        =f.text_field :last_name
        %label
          Telefono Fijo
        =f.text_field :phone
        %label
          Celular
        =f.text_field :mobile
        %label
          Pais
        =f.text_field :country
        %label
          Ciudad
        =f.text_field :city
        %label
          E-mail
        =f.text_field :email
        %label
          Tratamiento
        =f.collection_select :service, @services, :name , :name
        .clear
        %label
          Comentario
        =f.text_area :description
        %button{:type => "submit", :class => "first"} Enviar