#stylized.myform
  =form_for :contact, :url => pages_form_path do |f|
    %h1 Contactenos
    %p 
      =@form.usage
    %label
      Nombre
      %span.small
    =f.text_field :name
    %label
      Apellido
      %span.small
    =f.text_field :last_name
    %label
      Telefono Fijo
      %span.small
    =f.text_field :phone
    %label
      Celular
      %span.small
    =f.text_field :mobile
    %label
      E-mail
      %span.small E-mail Valido
    =f.text_field :email
    %label
      Confirmar E-mail
      %span.small
    =f.text_field :email_confirmation
    %label
      Comentario
      %span.small
    =f.text_area :comment
    %button{:type => "submit"} Enviar
    .spacer