#main
  #titulo
    %span.tpagina 
      SMADIA clinic
    %span
      
.cfacebookr
  %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/pages/Smadia-Clinic/239514212752466&width=240&colorscheme=light&show_faces=true&stream=false&header=false&height=305", :style => "border:none; overflow:hidden; width:240px; height:305px;"}
#cuadrosn
  %ul
    =render @microsites
    =render @articles
    =render @promotions
    =render @videos