#main
  #titulo
    %span.tpagina 
      SMADIA &nbsp;&nbsp;&nbsp;&nbsp;/ 
      %br 
      %span.letrap clinic
    %span
      =@category.name
#cuadrosn
  %ul
    =render @category.microsites
    =render @category.articles
    =render @category.promotions
    =render @category.videos