#main
  #titulo
    %span.tpagina 
      SMADIA clinic
    %span
      =@category.name
  -unless @category.subcategories.empty?
    #categoria
      %ul
        -@category.subcategories.each do |cat|
          %li
            =link_to cat.name, category_path(cat)
#cuadrosn
  %ul
    =render @category.microsites
    =render @category.articles
    =render @category.promotions
    =render @category.videos